/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
    border-radius: 3vh;
}

Nav {
    background-color: gray;
}

.jumbotron {
    background-color: gainsboro;
    width: 100%;
    height: 20rem;
    padding: 3vh;
}

h1 {
    font-size: 450%;
}

h2 {
    font-size: 3vh;
    padding-bottom: 3%;
}

.footer {
    background-color: gray;
    padding: 3vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 3vh;
}

